
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body{
    font-family: Work Sans;
    padding-left: 240px;
    padding-right: 240px;
}
.nav-container{
    max-height: 130px;
    display: flex;
    align-items: center;
  max-width: 1920px;
    margin: 0 auto;
    background-color: #FFF;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container img{
    width: 86px;
    margin-right: 20px;
    height: 40px;
    margin-top: 50px;
}
.logo-container p{
    font-size: 45px;
    width: 147px;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 18px;
    color: #3C354F;
}
.nav-btn{
    width: 262px;
height: 50px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
align-items: center;
}
.fa-brands{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    cursor: pointer;
}
.banner-container{
    margin: 50px auto 0;
    max-width: 1920px;
    display: flex;
}

.banner-text{
    width: 50%;
    padding-top: 148px;
    padding-bottom: 148px;
    background-image: url(../images/Group\ 14.png);
}

.banner-text h1{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.banner-text h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text p{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
}

.btn-primary{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
.btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}

.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    height: 100%;
}

.online-games{
    margin-top: 50px;
}
.game-text{
    text-align: center;
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.game-text p{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.grid-container{
    display: flex;
    margin: 50px auto 0;
    max-width: 1920px;
    max-height: 400px; 
    gap: 15px; 
}

.single-game{
    width: 30%;
}
.single-game img{
    width: 100%;
}

.play-now{
    margin-top: 50px;
    display: flex;
    max-height: 700px;
}
.play-now li{
    text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 60px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-now p{
    width: 353px;
    color: #534C64;
text-align: left;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.play-now-title{
    width: 50%;
}
.parent{
    width: 100%;
    position: relative;
}
.img-1 img{
    width: 100%;
}

.img-2 img{
    position: absolute;
  top: 350px;
  left: -70px;
}
.game-related-container{
    padding: 100px 55px;
    margin-top: 120px;

}

.gemes-related-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}

.gemes-related-parent li{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    /* transition: 0.5s; */
    border-radius: 50px;
    transition: 0.2s;
    
}
.gemes-related-parent li >span{
    color: #0B0223;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.2s;
}
.gemes-related-parent li:hover{
    background: #FFF;
    cursor: pointer;
    border: 1px solid #FF42A5;
    
}

.gemes-related-parent li:hover span{
    color: #F948B2;
}

footer{
    background-color: #0B0223;
    padding: 100px 0px;
    
}


footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-logo-text img{
    width: 70px;
    height: 35px;
}
.footer-logo-text h3{
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
}

.footer-menu ul{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 40px 0px;
}
.footer-menu ul li a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
.footer-menu ul li a:hover{

     color: rgba(255, 255, 255, 0.60);
  
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.footer-icon svg{
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.footer-bottom-menu ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 25px;
}

.footer-bottom-menu ul li a,.footer-bottom-copyright-text p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
    font-weight: 500;
}
